#absen{
  overflow-y: auto;
  overflow-x: auto;
	max-height: 65vh;
}

#absenNo{
  width: 3em;
}

#absenNama{
  width: 28em;
}

#absenSakit, #absenIjin, #absenAlpha{
	width: 5em;
}

#absenKompen input[type=number]::-webkit-inner-spin-button, 
#absenKompen input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}

#absenKompen input[type=number]{
	border: none;
}

#absenProses{
  width: 10em;
}

#absenKompen .absenKelas{
	border-radius: 10px;
	width: 100%;
  height: 1.8em;
	padding-left: 5px;
}

#absenKompen .absenCari{
	border-radius: 10px;
  width: 100%;
  height: 1.8em;
  padding: 0;
}

#absenKompen .bg-orange{
	background-color: #F79646;
}

#absenKompen #totalAbsen{
	overflow-y: auto;
	max-height: 65vh;
	overflow-x: auto;
}

#absenKompen #icon-search{
	width: 1.5em;
  color: gray;
  margin-right: 1em;
}

#absenKompen .cariKompen{
	border-radius: 10px;
	width: 7em;
}

#absenKompen #dataKompen, #absenKompen #dataPekerjaan, #absenKompen #rekapKompen{
	overflow-y: auto;
	max-height: 65vh;
	overflow-x: auto;
}

#absenKompen .btn-ok, #absenKompen .btn-batal{
  padding: 0.5px 2em 1px 2em;
  border-radius: 10px;
}
