#adminBerita .table-striped > thead > tr > th {
    background-color: #40407a;
    color: white;
}
#adminBerita .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #ceceef;
}
  
#adminBerita .table-striped > tbody > tr:nth-child(even) > td {
    background-color: #ececff;
}

#adminBerita .alert-danger {
    color: white;
    background-color: #CF212A;
    border-color: #CF212A;
    height: 35px;
}

#adminBerita .ber{
    margin-top: -10px;
}

#adminBerita .alert-light {
    color: black;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    height: 35px;
}

#adminBerita .border-secondary {
    border-color: solid rgba(90, 90, 90, 0.52)!important;
}

#adminBerita .border{
    border: 1px solid rgba(90, 90, 90, 0.52)!important;
    border-radius: 5px;
}

#adminBerita .card-header {
    background-color: #E5E5E5;
}

#adminBerita .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .3rem 1.25rem;
    color: inherit;
}

#adminBerita .btn-tidak {
    padding: 0em 1.5em 0em 1.5em;
    margin-right: 5em;
    background-color: #CF212A;
    color: white;
}
  
#adminBerita .btn-iya {
    padding: 0em 1.5em 0em 1.5em;
    margin-left: 5em;
    background-color: #3AAC5F;
    color: white;
}

#adminBerita .isiHapusBerita {
    padding-top: 3em;
    padding-bottom: 2em;
}

#adminBerita .tombolAksiHapusBerita {
    padding-bottom: 2em;
}

#adminBerita .btn-kirim{
    height: 1.6em;
    padding-bottom: 0;
    padding-top: 0;
}

#adminBerita .lampir img{
    cursor: pointer;
}

#adminBerita .btn-tutup{
    background-color: #CF212A;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
}

#adminBerita #beritaBerita{
    width: 28em;
}

#adminBerita .pilihKategoriBerita{
    border-radius: 10px;
    height: 1.8em;
	padding-left: 5px;
}

#adminBerita .download {
    width: 40% !important;
}
#adminBerita .isi-download a {
    text-decoration: none;
    color: black;
}
#adminBerita .isi-download a:hover {
    text-decoration: none;
    color: black;
}
#adminBerita .isi-download button:hover{
    background-color: white;
}

#adminBerita .tgl{
    border: 0.45em solid gray;
    background-color: gray;
    border-radius: 0px 5px 5px 0px;
}

#adminBerita .fa-calendar-alt{
    color: white;
}

#adminBerita img[title]:hover::before {
    content: attr(data-title);
    position: absolute;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
  }
  
#adminBerita img[title]:hover::after {
    content: '';
    position: absolute;
    left: 8px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;	
  }