#khs .breadcrumb a{
    text-decoration: none;
    color: black;
}

#khs .breadcrumb{
    background: white;
}

#khs .title{
    font-size: 1.09em;
}

#khs .breadcrumb a:hover{
    color: #000000a9;
}

#khs .form-control-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 10px;
    font-weight: bold;
    box-sizing: border-box;
}

#khs .tmbl-filter {
    background: #3AAC5F;
    border-radius: 10px;
    width: 90px;
    font-size: 14px;
    padding-bottom: 0;
    padding-top: 0;
}

#khs .tmbl-ruangan {
    background: #51A9EB;
    border-radius: 10px;
    font-size: 14px;
    width: 110px;
    padding-bottom: 0;
    padding-top: 0;
}

#khs .tmbl-table{
    width: 130px;
    font-family: Lato;
    font-size: 14px;
}

#khs .tmbl-kirim{
    width: 130px;
    font-family: Lato;
    font-size: 14px;
    background: #3AAC5F;
}

#khs .lihat{
    background: #51A9EB;
}

#khs .edit{
    background: #3AAC5F;
}

#khs .table-striped > thead > tr > th {
    background-color: #40407a;
    color: white;
}

#khs .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #ceceef;
}
  
#khs .table-striped > tbody > tr:nth-child(even) > td {
    background-color: #ececff;
}

#khsModal .table-bordered td{
    border: 0px solid #dee2e6;
}

#khsModal .table-bordered th{
    border: 0px solid #dee2e6;
}

#khs .isi-modaLihat p{
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
}

#khs input[type="radio"]{
    width: 18px;
    height: 18px;
}
#khs input[type="radio"] :checked:before {
    color: rgb(218, 33, 33); 
}
  
#khs input[type="radio"] :checked:after {
    color: #fff; 
}

#khs .border-bottom {
    border-bottom: 2px solid #000000!important;
    margin-bottom: 10px;
    margin-top: -25px;
}

#khs .border-bottom1 {
    border-bottom: 2px solid #000000!important;
    margin-bottom: 20px;
}

#khs .modal-header{
    border-bottom: 1px solid rgba(90, 90, 90, 0.52) !important;
}

#khs .modal-footer{
    border-top: 0px;
}
