#dataDosen .table {
  margin-top: 2em;
  width: 130%;
}

#dataDosen .table-striped > thead > tr > th {
  background-color: #40407a;
  color: white;
}

#dataDosen .table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #ceceef;
}

#dataDosen .table-striped > tbody > tr:nth-child(even) > td {
  background-color: #ececff;
}
#dataDosen .table-striped > tbody > tr > td {
  font-size: 1em;
  padding-bottom: 1.1em;
  padding-top: 1.1em;
}
#dataDosen .tmbl-table{
  width: 130px;
  font-family: Lato;
  font-size: 12px;
}

#dataDosen .scrolltable{
  overflow-x: scroll;
  width: 100%;
  /* margin: 10px,10px,10px,10px; */
  /* padding: 20px,20px,20px,20px; */
}

/* modal */
#dataDosen #exampleModalCenter {
  background-color: rgba(0, 0, 0, 0.5)
}

#dataDosen .close {
  padding-right: 0.5em;
}