/* modal */
#dataMahasiswa #exampleModalCenter {
  background-color: rgba(0, 0, 0, 0.5);
}

#dataMahasiswa .close {
  padding-right: 0.5em;
}

/* modal */
#modalHapusDataMahasiswa {
  background-color: rgba(0, 0, 0, 0.5);
}

#hapusMahasiswa {
  background-color: rgba(32, 32, 32, 0.86);
  padding-bottom: 5em;
}

.isiHapusDataMahasiswa {
  padding-top: 3em;
  padding-bottom: 2em;
}

.btn-tidakdak {
  /*padding: 0em 1.5em 0em 1.5em;*/
  margin-right: 5em;
  background-color: #cf212a;
  color: white;

  border-radius: 10px;
  width: 7em;
  height: 1.8em;
  padding: 0;
}

.btn-iyaya {
  /*padding: 0em 1.5em 0em 1.5em;*/
  margin-left: 5em;
  background-color: #3aac5f;
  color: white;

  border-radius: 10px;
  width: 7em;
  height: 1.8em;
  padding: 0;
}

.tombolAksiHapusDataMahasiswa {
  padding-bottom: 2em;
}

/* Tombol */

#dataMahasiswa .btn-load,
.btn-loading,
.btn-edit,
.btn-hapus,
.btn-tambahkan {
  border-radius: 10px;
  width: 7em;
  height: 1.8em;
  padding: 0;
}

.btn-kumpulkan,
.btn-mencari {
  border-radius: 10px;
  width: 8em;
  height: 2em;
  padding: 0;
}
