#dataDosen .breadcrumb a {
  text-decoration: none;
  color: black;
}

#dataDosen .breadcrumb {
  background: white;
}

#dataDosen .title {
  font-size: 1.09em;
}
#dataDosen .loadgambar {
  margin-left: 17px;
  width: 22%;
  height: 28px;
  border-radius: 5px;
  padding-top: 1px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  text-align: center;
}

#dataDosen .breadcrumb a:hover {
  color: #000000a9;
}
#dataDosen #icon-search {
  width: 1.5em;
  color: gray;
  margin-right: 1em;
}

#dataDosen .table-striped > thead > tr > th {
  background-color: #40407a;
  color: white;
}

#dataDosen .table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #ceceef;
}

#dataDosen .table-striped > tbody > tr:nth-child(even) > td {
  background-color: #ececff;
}
#tabelDosen .table-striped > tbody > tr > td {
  font-size: 1em;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}

/* modal */
#hapus {
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  padding-right: 0.5em;
}

#hapusKompen {
  background-color: rgba(32, 32, 32, 0.86);
  padding-bottom: 5em;
}

.isiHapusKompen {
  padding-top: 3em;
  padding-bottom: 2em;
}

.btn-tidak {
  padding: 0em 1.5em 0em 1.5em;
  margin-right: 5em;
  background-color: #cf212a;
  color: white;
}

.btn-iya {
  padding: 0em 1.5em 0em 1.5em;
  margin-left: 5em;
  background-color: #3aac5f;
  color: white;
}
.tombolAksiHapusKompen {
  padding-bottom: 2em;
}

#editModal #edit {
  background-color: rgba(0, 0, 0, 0.5);
}
#editModal .loadgambar {
  margin-left: 17px;
  width: 36%;
  height: 28px;
  border-radius: 5px;
  padding-top: 1px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  text-align: center;
}
