/* profil dosen */
#dosenHomepage .data-dosen {
  padding: 2em;
  color: black;
}

#dosenHomepage .detail-dosen.border-bottom.border-gray.pb-2.mb-0 {
  margin-top: 1em;
}

/* jadwal dosen */
#dosenHomepage .table {
  margin-top: 2em;
}

#dosenHomepage .table-striped > thead > tr > th {
  background-color: #40407a;
  color: white;
}

#dosenHomepage .table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #ceceef;
}

#dosenHomepage .table-striped > tbody > tr:nth-child(even) > td {
  background-color: #ececff;
}
#dosenHomepage .table-striped > tbody > tr > td {
  font-size: 1em;
  padding-bottom: 1.1em;
  padding-top: 1.1em;
}

#dosenHomepage .jadwal-dosen-kosong {
  padding-top: 10.5em;
  padding-bottom: 10.5em;
}

/* Kompen Bar */

#dosenHomepage .tambah-pekerjaan-kompen{
  background-color: #40407a;
  color: white;
}

#dosenHomepage .submit-kompen-dosen{
  background-color: #3AAC5F;
  color: white;
}

#dosenHomepage .judul {
  font-size: 1.2em;
}

#dosenHomepage #exampleModalCenter {
  background-color: rgba(0, 0, 0, 0.5);
}

#dosenHomepage .close {
  padding-right: 0.5em;
}

#dosenHomepage .tambahkan-modal{
  background-color: #3AAC5F;
  color: white;
  border-radius: 40px;
}

#dosenHomepage .tambahkan-modal-parent{
  padding-right: 4em;
}

#dosenHomepage .kompen-submit-btn{
  background-color: #3AAC5F;
  color: white;
  border-radius: 20px;
}

#dosenHomepage td.nomor-kompen{
  width: 0.3em;
}
#dosenHomepage td.deskripsi-kompen{
  width: 15em;
}
#dosenHomepage td.pilihan-kompen{
  width: 0.3em;
}
#dosenHomepage .isi-ada > table {
  white-space: nowrap;
}

#dosenHomepage .dropdown-kompen {
  margin-top: 0.7em;
}

#dosenHomepage .dropdown-kompen::before{
  /* position: relative;
  border-width: 0px 8px 10px 8px;
  border-style: solid;
   */
  right: 0em;
  border-color: rgb(216, 208, 208) transparent;
}

#dosenHomepage .data-kompen-ada{
  
  height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
}

#dosenHomepage #hapusKompen {
  background-color: rgba(32, 32, 32, 0.86);
}

#dosenHomepage .isiHapusKompen {
  padding-top: 3em;
  padding-bottom: 2em;
}

#dosenHomepage .btn-tidak {
  padding: 0em 1.5em 0em 1.5em;
  margin-right: 5em;
  background-color: #CF212A;
  color: white;
}

#dosenHomepage .btn-iya {
  padding: 0em 1.5em 0em 1.5em;
  margin-left: 5em;
  background-color: #3AAC5F;
  color: white;
}

#dosenHomepage .tombolAksiHapusKompen{
  padding-bottom: 2em;
}

