/* profil dosen */
#dosenHomepage .data-dosen {
  padding: 2em;
  color: black;
}

#dosenHomepage .detail-dosen.border-bottom.border-gray.pb-2.mb-0 {
  margin-top: 1em;
}

/* jadwal dosen */
#dosenHomepage .table {
  margin-top: 2em;
}

#dosenHomepage .table-striped > thead > tr > th {
  background-color: #40407a;
  color: white;
}

#dosenHomepage .table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #ceceef;
}

#dosenHomepage .table-striped > tbody > tr:nth-child(even) > td {
  background-color: #ececff;
}
#dosenHomepage .table-striped > tbody > tr > td {
  font-size: 1em;
  padding-bottom: 1.1em;
  padding-top: 1.1em;
}

/* Kompen Bar */

#dosenHomepage .kompen-bar {
  height: 100%;
}

#dosenHomepage .kompen-check > input[type="checkbox"] {
  display: none;
}

#dosenHomepage .kompen-check > input[type="checkbox"] + label {
  background-image: url(../img/Checkbox.svg);
}

#dosenHomepage .kompen-check > input[type="checkbox"]:checked + label  {
  background-image: url(../img/Checkedbox.svg);
}

/* :checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
} */

/* any */
#dosenHomepage .judul {
  font-size: 1.2em;
}
