#eComplain .chat {
  /* top: 5em; */
  height: calc(100vh - 12em);
}

#eComplain .breadcrumb a {
  color: black;
}

#eComplain .btn-search {
  height: 1.7em;
  width: auto;
}

#eComplain .btn-send {
  height: 2.5em;
  width: auto;
}

#eComplain .chat-head {
  height: 13%;
}
#eComplain .chat-body {
  height: 87%;
}

#eComplain .chat-profile-photo {
  max-width: 3em;
  max-height: 3em;
  border-radius: 50%;
}

#eComplain .chat-window-profile-photo {
  max-width: 2.5em;
  max-height: 2.5em;
  border-radius: 50%;
}

#eComplain .recent-chat {
  height: calc(100vh - 12em - 13vh + 1.53em);
  overflow-x: hidden;
  overflow-y: auto;
}

#eComplain .chat-input {
  height: 3.5em;
  background-color: #dbdbdb;
}

#eComplain .chat-window {
  height: calc(100vh - 12em - 13vh + 1.53em - 3.5em);
  overflow-x: hidden;
  overflow-y: auto;
}

#eComplain .conversation-window {
  height: calc(100vh - 12em - 13vh + 1.53em);
}

#eComplain .border-scroll {
  border-right: 3.5px solid #e7e4e4;
}

#eComplain .chat-info {
  font-size: 0.9em;
  color: gray;
}

#eComplain .recent-chat-item:hover {
  background-color: rgba(230, 230, 230, 0.5);
  /* background-blend-mode: screen; */
}

#eComplain .recent-chat-item {
  transition: 0.3s ease;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* selected recent chat item */

#eComplain .recent-chat-item.active::before,
#eComplain .recent-chat-item.active::after {
  content: "";
  position: absolute;
  right: 0em;
  border-color: transparent;
  border-style: solid;
}

#eComplain .recent-chat-item.active::before {
  margin-top: 2.7em;
  border-width: 0.7em;
  border-right-color: #40407a;
  border-bottom-color: #40407a;
}

#eComplain .chat-window .photo-container {
  width: 3.2em;
}

#eComplain .chat-window-item {
  background-color: #f6f6f6 !important;
  border-radius: 0.4em;
}

#eComplain .chat-window-item-info {
  font-size: 0.65em;
  color: gray;
}

#eComplain .chat-kiri {
  padding-right: 7em !important;
}

#eComplain .chat-kanan {
  padding-left: 7em !important;
}
