#eComplain .chat {
  /* top: 5em; */
  height: calc(100vh - 12em);
}

#eComplain .breadcrumb a {
  color: black;
}

#eComplain .btn-search {
  height: 1.7em;
  width: auto;
}

#eComplain .chat-head {
  height: 13%;
}
#eComplain .chat-body {
  height: 87%;
}

#eComplain .chat-profile-photo {
  max-width: 3em;
  max-height: 3em;
  border-radius: 50%;
}

#eComplain .recent-chat {
  height: calc(100vh - 12em - 13vh + 1.53em);
  overflow-x: hidden;
  overflow-y: scroll;
}

#eComplain .chat-info {
  font-size: 0.9em;
  color: gray;
}

#eComplain .recent-chat-item:hover {
  background-color: rgba(230, 230, 230, 0.5);
  /* background-blend-mode: screen; */
}

#eComplain .recent-chat-item {
  transition: 0.3s ease;
  cursor: pointer;
}

/* selected recent chat item */

#eComplain .recent-chat-item.active::before,
#eComplain .recent-chat-item.active::after {
  content: "";
  position: absolute;
  right: 0em;
  border-color: transparent;
  border-style: solid;
}

#eComplain .recent-chat-item.active::before {
  -ms-transform: translate(0.3em, 1.5em); /* IE 9 */
  -webkit-transform: translate(0.3em, 1.5em); /* Safari */
  transform: translate(0.3em, 1.5em);

  border-width: 1.25em;
  border-right-color: #e7e4e4;
  border-bottom-color: #e7e4e4;
}

#eComplain .recent-chat-item.active::after {
  -ms-transform: translate(1em, 1.5em); /* IE 9 */
  -webkit-transform: translate(1em, 1.5em); /* Safari */
  transform: translate(1em, 1.5em);

  /* border-radius: 0.9em; */
  border-width: 1.25em;
  border-right-color: #40407a;
  border-bottom-color: #40407a;
  /* border-top-color: #40407a; */
}
