.col-sm-10 p {
    font-size: 11px;
}

.isi-mhs {
    color: black;
}
.kategori {
    padding: 9px;
    background-color: #C4C4C4;
    color: white;
    border-radius: 25%;
}
.isi-beasiswa{
    font-size: 11px;
}
.check {
    background-color: #40407A;
    color: white;
}
.check a {
    text-decoration: none;
    color: white;
}