#home .col-sm-8 p {
  font-size: 0.7em;
}

#home .isi-mhs {
  color: black;
}
#home .kategori-label {
  padding: 2px 10px 4px 10px;
  background-color: #c4c4c4;
  color: white;
  border-radius: 10px;
  font-size: 0.9em;
}
#home .isi-beasiswa {
  font-size: 0.7em;
}
#home .check {
  width: 7.5em;
  padding-bottom: 3.5px;
  padding-top: 2px;
  font-size: 0.9em;
  background-color: #40407a;
  color: white;
}

#home .check:hover {
  background-color: rgba(64, 64, 122, 0.548);
}

#home .check a {
  text-decoration: none;
  color: white;
}
#home .search-null {
  font-size: 12px;
}

/* datepicker */
#home .datepicker-days,
.datepicker-inline {
  width: inherit;
  max-width: none !important;
}

#home .table-condensed {
  width: 100%;
}

/* Button Modal */
#home .check-modal {
  width: 100%;
  background-color: #40407a;
  color: white;
}

#home .check-modal:hover {
  background-color: rgba(64, 64, 122, 0.548);
  color: white;
}

#home #nama-dosen {
  font-size: 0.9em;
  width: 67%;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

#home .kirim {
  background-color: #3aac5f;
  color: white;
}

/* CSS foto */
#home .photos .image {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
#home .photos .image img {
  position: absolute;
  width: 100%;
  padding-bottom: 50% !important;
  transition: all 0.2s ease-out;
  filter: brightness(75%);
}

#home .photos .image img:hover {
  transform: scale(1.03);
  filter: brightness(100%);
}

/* CSS Close */
#home .close {
  margin-top: -32px;
  margin-right: -27px;
  background: rgba(0, 0, 0, 0.452);
  border-radius: 45%;
  padding: 5px 8px 5px 10px;
  color: white;
  opacity: 50;
}

#home .close:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

/* Download File */
#home .download {
  width: 100% !important;
}
#home .isi-download a {
  text-decoration: none;
  color: black;
}
#home .isi-download a:hover {
  text-decoration: none;
  color: blue;
}

/* CSS Komen */
#home .komen2 {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

/* CSS Button Back */
#home .back {
  width: 50%;
  background-color: #40407a;
}
#home .back a {
  text-decoration: none;
  color: white;
}
#home .back:hover {
  background-color: rgba(64, 64, 122, 0.548);
  color: white;
}