#home .col-sm-8 p {
  font-size: 0.7em;
}

#home .isi-mhs {
  color: black;
}
#home .kategori-label {
  padding: 2px 10px 4px 10px;
  background-color: #c4c4c4;
  color: white;
  border-radius: 10px;
  font-size: 0.9em;
}
#home .isi-beasiswa {
  font-size: 0.7em;
}
#home .check {
  width: 7.5em;
  padding-bottom: 3.5px;
  padding-top: 2px;
  font-size: 0.9em;
  background-color: #40407a;
  color: white;
}

#home .check:hover {
  background-color: rgba(64, 64, 122, 0.548);
}

#home .check a {
  text-decoration: none;
  color: white;
}
#home .search-null {
  font-size: 12px;
}

/* datepicker */
#home .datepicker-days,
.datepicker-inline {
  width: inherit;
  max-width: none !important;
}

#home .table-condensed {
  width: 100%;
}

/* Button Modal */
#home .check-modal {
  width: 100%;
  background-color: #40407a;
  color: white;
}

#home .check-modal:hover {
  background-color: rgba(64, 64, 122, 0.548);
  color: white;
}

#home #photos img {
  height: 150px;
  width: auto;
}
