#jadwal .semester {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

#jadwal .tmbl-filter {
    background: #3AAC5F;
    border-radius: 15px;
    width: 80px;
}

#jadwal .tmbl-ruangan {
    background: #51A9EB;
    border-radius: 15px;
    width: 90px;
}

#jadwal .gambar-profil {
    border-radius: 50%;
}

/* nilai error */
#jadwal .warna-card {
    background-color: #FCA5A5;
}

#jadwal .card-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
}

#jadwal .card-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
}

/* terverifikasi */
#jadwal .warna-verifikasi {
    background-color: #A5FBA5;
}

#jadwal .alert-success {
    color: black;
    background-color: #A4FC9F;
    border-color: #A4FC9F;
    height: 35px;
}

#jadwal .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .3rem 1.25rem;
    color: inherit;
}