#kelasKosong #dataKelasKosongMhs{
  max-height:67vh;
  overflow-y: auto;
  overflow-x:hidden;
}

#kelasKosong .btn-hari,
.btn-cari {
  border-radius: 10px;
  width: 5.5em;
  height: 1.8em;
  padding: 0;
}
#kelasKosong .btn-hari:not(.active):hover {
  border: 1px solid rgb(122, 188, 247);
  background: rgb(122, 188, 247);
}

#kelasKosong .btn-hari:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

#kelasKosong .optionJam {
  border-radius: 10px;
  width: 5.5em;
  height: 1.7em;
}

#kelasKosong .active {
  background-color: #0275d8;
  border-color: #0275d8;
}

#kelasKosong .ruang {
  background-color: #f2f0f0;
}

#kelasKosong .btn-pesan {
  width: 5.5em;
}

#kelasKosong .lantai {
  font-size: 0.7em;
}

#kelasKosong .kelas {
  font-size: 1.2em;
}

#kelasKosong .btn-checkout {
  width: 5.9em;
  padding-bottom: 2px;
  padding-top: 0.5px;
  font-size: 0.9em;
}

#kelasKosong .dipesan {
  background-color: rgba(189, 189, 189, 0.5);
  color: #6c757d;
}

#kelasKosong .btn-confirm {
  padding: 0.5px 2em 1px 2em;
  border-radius: 10px;
}

.popover *{
  color: red;
  text-align: center;
}
