#kompenAbsen .tmbh-kmpn {
    border-radius: 15px;
}

#kompenAbsen .tbl-info {
    border-radius: 15px;
}

#kompenAbsen .gambar-profil {
    border-radius: 50%;
}

#kompenAbsen h2 {
    color: #40407a;
}