#krsAdmin .optionSemester {
  box-sizing: border-box;
  border-radius: 10px; 
  font-weight: bold;
  }
  
  #krsAdmin .optionKelas {
    box-sizing: border-box;
    border-radius: 10px; 
    font-weight: bold;
  }
  
  #krsAdmin .breadcrumb a{
    text-decoration: none;
    color: black;
}

#krsAdmin .breadcrumb{
    background: white;
}

#krsAdmin .title{
    font-size: 1.09em;
}

#krsAdmin .breadcrumb a:hover{
    color: #000000a9;
}

  #krsAdmin .btn-cari {
  border-radius: 10px;
  width: 5.5em;
  height: 1.8em;
  padding: 0;
  }

  #krsAdmin .btn-lihat, .btn-hapus, .btn-ya, .btn-tidak {
    border-radius: 10px;
    width: 7em;
    height: 1.8em;
    padding: 0;
  }

  #krsAdmin .btn-upload {
    border-radius: 10px;
    width: 15em;
    height: 1.8em;
    padding: 0;
  }

  #krsAdmin .ukt-lunas-sudah-upload {
    background-color: #A7FCA5;
  }
  
  #krsAdmin .ukt-lunas-belum-upload {
    background-color:#FCA5A5;
  }

  #krsAdmin .ukt-belum-lunas {
    background-color:
    rgba(189, 189, 189, 0.6);
  }
