body {
  padding-top: 0 !important;
}

.fullscreen {
  height: 100vh;
  padding-bottom: 4em;
}

#eye {
  border-radius: 0;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top:0.3em;
}

/* Popup Pengaturan */
#eyeA {
  border-radius: 0 !important;
  cursor: pointer;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  padding-top:0.3em !important;
}

#eyeB {
  border-radius: 0 !important;
  cursor: pointer;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  padding-top:0.3em !important;
}

#eyeC {
  border-radius: 0 !important;
  cursor: pointer;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  padding-top:0.3em !important;
}

#largeShoes .file {
  cursor: pointer;
}
#largeShoes .file input {
  filter: alpha(opacity=0);
  opacity: 0;
}
#largeShoes .file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .1rem;
  padding-left: 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#largeShoes .file-custom:after {
  content: "Pilih file";
}
#largeShoes .file-custom:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5.5em;
  content: "Browse";
  color: black;
  text-align: center;
  padding: .1rem;
  background-color: #CBCBCB;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.close-setting{
  margin-right: -0.3em;
  margin-top: -0.5em;
}
/* end popup pengaturan */

#parent-error{
  height: 30px;
  width: 65%;
}

.fullscreen .form-control, .hahaha .form-control{
  height: 1.9em;
  border: 1px solid black;
  border-radius: 10px;
  padding-top:1px;
}

.fullscreen .form-control:focus, #largeShoes .form-control:focus {
  border: 1px solid black; 
}

#masuk{
  border-radius: 10px;
  width: 7.5em;
  height: 1.9em;
  padding: 0;
}

#label-file{
  height: 1.9em;
  border: 1px solid black;
  border-radius: 10px;
  padding-top:1px;
}