body {
  padding-top: 0 !important;
}

.fullscreen {
  height: 100vh;
  padding-bottom: 4em;
}

#eye {
  border-radius: 0;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top:0.3em;
}

#parent-error{
  height: 30px;
  width: 65%;
}

.form-control{
  height: 1.9em;
  border: 1px solid black;
  border-radius: 10px;
  padding-top:1px;
}

.form-control:focus {
  border: 1px solid black; 
}

#masuk{
  border-radius: 10px;
  width: 7.5em;
  height: 1.9em;
  padding: 0;
}