#nilai .gambar-profil{
    border-radius: 50%;
}

/* nilai error */
#nilai .warna-card {
    background-color: #FCA5A5;
}
#nilai .gambar-profil{
    border-radius: 50%;
}
#nilai .card-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
}
#nilai .card-text{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
}