* {
  font-family: "Lato";
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  /* min-height: 75rem; */
  /* padding-top: 4.5rem; */
  background-color: #ceceef !important;
}

/* navbar */
.app-navbar {
  z-index: 0;
}

.burger-icon {
  font-size: 2em;
}

.notification-icon {
  font-size: 1.5em;

  /* bagian notification bubble */
  position: relative;
  cursor: pointer;
}

/* bagian notification bubble */
.notification-bubble {
  position: absolute;
  font-size: 0.6em;
  top: -4px;
  color: red;
  right: -3px;
}

.notification-bubble-num {
  position: absolute;
  font-size: 0.3em;
  top: 0px;
  color: #ffffff;
  right: 0px;
}

.nav-button-group {
  cursor: pointer;
}

.profile-link:link {
  color: #ffffff;
  text-decoration: none;
}

.profile-link {
  color: #ffffff;
  text-decoration: none;
}

.profile-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.profile-link:hover {
  color: #b99bff;
  text-decoration: none;
}

.nav-profile-photo {
  width: 2.5em;
  /* border: 2px solid #ac9dc9; */
  border-radius: 50%;
}

/* /navbar */
.app-navbar {
  z-index: 1;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-blue {
  background-color: #40407a;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.dropdown-menu {
  top: 2.5em;
}

.dropdown-menu::before {
  content: "";
  border-width: 0px 8px 10px 8px;
  border-style: solid;
  position: absolute;
  bottom: 100%;
  right: 2em;
  border-color: white transparent;
}

/* navigation */
#navigation-btn,
#navigation-admin-btn,
.pointer {
  cursor: pointer;
}

#navigation {
  z-index: 2;
  position: fixed;
  background-color: rgba(19, 15, 64, 0.9);
  display: none;
}

#navigation .navigation-menu {
  cursor: pointer;
}

#navigation .navigation-menu:hover {
  filter: brightness(150%);
}

#navigation-admin {
  z-index: 2;
  position: fixed;
  background-color: rgba(32, 32, 32, 0.86);
  display: none;
}

#navigation-admin .bg-sidebar {
  background-color: #40407a;
}

#navigation-admin a {
  text-decoration: none;
}

#navigation-admin .sidebar-nav:hover {
  cursor: pointer;
  background-color: rgba(217, 217, 217, 0.4);
}

/* photo */
#myModal-btn {
  cursor: pointer;
}

#myModal {
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 5vh;
  display: none;
}

#myModal .navigation-menu {
  cursor: pointer;
}

#myModal .navigation-menu:hover {
  filter: brightness(150%);
}

#myModal .mySlides img {
  width: auto;
  max-height: 60vh;
}

#myModal .caption-container {
  text-align: center;
  padding: 0;
  margin: 0px;
  color: white;
}

#myModal .demo {
  width: auto;
  height: auto;
  max-height: 15vh;
  max-width: 15vh;
}

#myModal .head {
  position: relative;
  margin: auto;
  padding: 0;
}

#myModal .photo-prev,
.photo-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

#myModal .photo-next {
  left: 100%;
  border-radius: 3px 0 0 3px;
}

#myModal .photo-prev {
  right: 100%;
  border-radius: 3px 0 0 3px;
}

#myModal .photo-prev:hover,
.photo-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* sidebar */
.sticky-sidebar {
  top: 4.5em;
  z-index: 0;
}

/* comment */
.chat-bubble {
  cursor: pointer;
  position: fixed;
  bottom: 3em;
  right: 4em;
  background: #40407a;
  width: 4.4em;
  height: 4.4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scrollbar */
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e7e4e4;
}

.scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: #e7e4e4;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid #40407a;
}

.scrollbar-x::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e7e4e4;
}

.scrollbar-x::-webkit-scrollbar {
  height: 3px;
  background-color: #e7e4e4;
}

.scrollbar-x::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid #40407a;
}

/* Table */
.table-striped > thead > tr > th {
  padding: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.table-striped > thead > tr > th {
  background-color: #40407a;
  color: white;
}

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #ceceef;
}

.table-striped > tbody > tr:nth-child(even) > td {
  background-color: #ececff;
}

.table-striped > tbody > tr > td {
  font-size: 1em;
  padding: 0.3em;
}

.table-striped .btn {
  height: 1.6em;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 1.3em;
  padding-right: 1.3em;
}

.table-striped input[type="number"] {
  height: 1.6em;
}

/* Breadcrumb */
.breadcrumb a {
  text-decoration: none;
  color: black;
}

.breadcrumb {
  background: white;
}

/* -------------------------------- */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 50px;
  z-index: 9;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

.chat-head {
  border-radius: 15px 15px 0px 0px;
}

/* Add styles to the form container */
.form-container {
  /* border: 3px solid #f1f1f1; */
  /* border-radius: 15px 15px 0px 0px; */
  width: 500px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#closeChatPopup {
  cursor: pointer;
  user-select: none;
}
