* {
  font-family: "Lato";
}

body {
  /* min-height: 75rem; */
  /* padding-top: 4.5rem; */
  background-color: #ceceef !important;
}

/* navbar */
.app-navbar {
  z-index: 0;
}

.burger-icon {
  font-size: 2em;
}

.notification-icon {
  font-size: 1.5em;

  /* bagian notification bubble */
  position: relative;
  cursor: pointer;
}

/* bagian notification bubble */
.notification-bubble {
  position: absolute;
  font-size: 0.6em;
  top: -4px;
  color: red;
  right: -3px;
}

.notification-bubble-num {
  position: absolute;
  font-size: 0.3em;
  top: 0px;
  color: #ffffff;
  right: 0px;
}

.nav-button-group {
  cursor: pointer;
}

.profile-link:link {
  color: #ffffff;
  text-decoration: none;
}

.profile-link {
  color: #ffffff;
  text-decoration: none;
}

.profile-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.profile-link:hover {
  color: #b99bff;
  text-decoration: none;
}

.nav-profile-photo {
  width: 2.5em;
  /* border: 2px solid #ac9dc9; */
  border-radius: 50%;
}

/* /navbar */
.app-navbar {
  z-index: 1;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-blue {
  background-color: #40407a;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.dropdown-menu {
  top: 2.5em;
}
.dropdown-menu::before {
  content: "";
  border-width: 0px 8px 10px 8px;
  border-style: solid;
  position: absolute;
  bottom: 100%;
  right: 2em;
  border-color: white transparent;
}

/* navigation */
#navigation-btn {
  cursor: pointer;
}

#navigation {
  z-index: 2;
  position: fixed;
  background-color: rgba(19, 15, 64, 0.9);
  display: none;
}

#navigation .navigation-menu {
  cursor: pointer;
}

#navigation .navigation-menu:hover {
  filter: brightness(150%);
}

/* photo */
#myModal-btn {
  cursor: pointer;
}

#myModal {
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 5vh;
  display: none;
}

#myModal .navigation-menu {
  cursor: pointer;
}

#myModal .navigation-menu:hover {
  filter: brightness(150%);
}

#myModal .mySlides img {
  width: auto;
  max-height: 60vh;
}

#myModal .caption-container {
  text-align: center;
  padding: 0;
  margin: 0px;
  color: white;
}

#myModal .demo {
  width:auto; 
  height:auto; 
  max-height:15vh;
  max-width:15vh;
}

#myModal .head {
  position: relative;
    margin: auto;
  padding: 0;
}

#myModal .photo-prev, .photo-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

#myModal .photo-next {
  left: 100%;
  border-radius: 3px 0 0 3px;
}
#myModal .photo-prev {
  right: 100%;
  border-radius: 3px 0 0 3px;
}

#myModal .photo-prev:hover,
.photo-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* sidebar */
.sticky-sidebar {
  top: 4.5em;
  z-index: 0;
}

/* comment */
.chat-bubble {
  position: fixed;
  bottom: 3em;
  right: 4em;
  background: #40407a;
  width: 4.4em;
  height: 4.4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scrollbar */
.scrollbar::-webkit-scrollbar-track
{
    border-radius: 10px;
	background-color: #e7e4e4;
}

.scrollbar::-webkit-scrollbar
{
    width: 3px;
	background-color: #e7e4e4;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	border: 2px solid #40407a;
}
