<?php
    $dbUrl  = ""; // MySql host Url
    $dbUser = ""; // user Mysql
    $dbPass = ""; // password Mysql
    $dbName = ""; // nama database

    $con=mysqli_connect($dbUrl, $dbUser, $dbPass, $dbName);
    if(!$con){
        die("Koneksi Gagal : ".mysqli_connect_error());
    }
?>